    .video-section {
        display: flex;
        flex-direction: row; /* Coloca los elementos en fila */
        
    }
    
    .video-container {
        flex: 1; /* Hace que el video ocupe el 50% del ancho disponible */
        padding: 20px; /* Espaciado opcional para el video */
        
    }
    
    .sections-container {
        flex: 1; /* Hace que las listas desplegables ocupen el 50% del ancho disponible */
        padding: 20px; /* Espaciado opcional para las listas desplegables */
        
    }
    .custom-div {
        padding: 10px; /* Espacio interior */
        margin-bottom: 10px; /* Espacio entre secciones */
    }
    

    .custom-container {
        background-color: #3333339a;
      }
      
    
    .custom-div summary {
        cursor: pointer; /* Cambia el cursor al hacer hover sobre el resumen */
    }
    .custom-button {
        
        color: white; /* Color del texto */
        border: none; /* Borde */
        border-radius: 5px; /* Bordes redondeados */
        padding: 5px 10px; /* Espaciado interno */
        cursor: pointer; /* Cursor al hacer hover */
    }   